.cart {
  &__heading {
    text-transform: uppercase;
    font-size: 2rem;
    padding: 0rem 0rem 3rem 0rem;

    @media screen and (max-width: 56.25em) {
      padding: 0rem 0rem 3rem 3rem;
    }

    @media screen and (max-width: 37em) {
      padding: 0rem 0rem 3rem 3rem;
    }
  }

  &__total {
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }

  &__action {
    @media screen and (max-width: 37em) {
      padding: 2rem;
    }
  }

  &__btn {
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.2rem;
    background-color: black;
    color: white;
    padding: 0.9rem 1.3rem;
    margin: 0.2rem;
    border: none;
    &:hover {
      cursor: pointer;
      background-color: lighten(black, 25%);
    }
  }

  &__empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60%;
    font-size: 1.5rem;

    button {
      text-transform: uppercase;
      margin-top: 3%;
      font-weight: bold;
      background: none;
      border: none;
      text-decoration: underline;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
