.products-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product {
  &__items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.error {
  font-size: 1.6rem;
}
