.product {
  &__actions {
    display: flex;
    justify-content: space-between;
    margin-top: 25%;
  }

  &__btn {
    background: none;
    border: none;
    text-transform: uppercase;
    letter-spacing: .5px;
    margin-bottom: 10%;
    margin: 2.5%;
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }

    &--wishlist {
      margin-left: auto;
    }
  }
}