.icon {
  width: 3rem;
  height: 3rem;
  fill: black;
  animation: rotate 0.3s infinite linear;
  margin-top: 1%;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(100deg);
  }
}
